.header {
  color: #e83a4b;
  height: 5rem;
  width: 100%;
  z-index: 10;
  font-family: "Roboto", sans-serif;
  background-color: #f9f5f4;
}

.headerWrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-content: center;
  padding: 1rem;
}

.headerLogoLink {
  text-decoration: none;
}

.headerLogo {
  width: 5rem;
}

.headerNav {
  display: flex;
  justify-content: center;
}

.headerNavItem {
  list-style: none;
}

.headerNavItemLink {
  text-decoration: none;
  background: #0000;
  border: .1rem solid #0000;
  border-radius: 3rem;
  color: var(--head-color);
  margin-right: .2rem;
  padding: .5rem;
  transition: background .3s ease, color .3s ease;
}

.headerNavItemLink:hover {
  border: .1rem solid #ee9085;
  color: #e83a4b;
}